#b_blank {
    background: #FFFFFF;
}

#b_brown {
    background: #86592d;
    color: #FFFFFF;
}

#b_dblue {
    background: #000099;
    color: #FFFFFF;
}

#b_dgreen {
    background: #336600;
    color: #FFFFFF;
}

#b_gray {
    background: #555555;
    color: #FFFFFF;
}

#b_lblue {
    background: #00ccff;
}

#b_lgreen {
    background: #00ff00;
}

#b_lila {
    background: #9900cc;
    color: #FFFFFF;
}

#b_orange {
    background: #ff9900;
}

#b_pink {
    background: #ff00ff;
}

#b_red {
    background: #FF0000;
    color: #FFFFFF;
}

#b_yellow {
    background: #FFFF00;
}

